Inline Javascript
<button type="button" onclick='document.getElementById("inline").innerHTML = "Inline Javascript"'>Test 1</button>
<p id="inline">Test1</p>

Script on page load
<p id="script">Test2</p>

FunctionCall
<button type="button" onclick="test3()">Test3</button>
<p id="function"></p>

Ajax Test 1
<button type="button" onclick="Ajaxtest()">Ajax Test</button>
<p id="ajaxdemo"></p>

Ajax Test 2
<button type="button" onclick="AjaxTest2()">Test4</button>
<div id="results"></div>

<script>
document.getElementById("script").innerHTML = "Script runs";

function test3 () {
  document.getElementById("function").innerHTML = "Functions can be called";

}

function Ajaxtest() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function(){
    if (this.readyState == 4 && this.status == 200){
      document.getElementById("ajaxdemo").innerHTML = this.responseText;
     }
  };
  xhttp.open("GET", '/', true);
  xhttp.send();
}


</script>
