<% @results.each do |course| %>
  <%= form_for(:enrollment, url: "/enrollments/create/#{@user.id}&#{course.id}") do |f| %>
  <div class="field">
    <%=course.name %> <%=f.submit "Enroll" unless !logged_in?  || enrolled?(@user, course)%>
  </div>
  <% end %>
<% end %>
